*{
    padding: 0;
    margin: 0;
}
/**Fuentes**/
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css2?family=Gayathri:wght@100&display=swap');
/**font-family: 'Gayathri', sans-serif;**/
@import url('https://fonts.googleapis.com/css2?family=Angkor&display=swap');
@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");

body{
    font-family: 'Gayathri', sans-serif;
    background-color: black;
    
    a{
        color: white;
        text-decoration: none;
    }
}

header{
    width: 100%;
    background-color: black;

    .contenedor3:hover{
        transform: scale(1.025);
        transition: 0.5s;
    }

    hr{
        border: 0; 
        border-top: 1px solid #999; 
        border-bottom: 1px solid #333; 
        height:0;
    }

    #name{
        font-family: 'Angkor', cursive;
        text-align: center;
        text-decoration: none;
    }

        a:hover{
            color: #5685d5;
        }
    
    
    
    #redes{
        text-align: left;

        :hover{
            transform: scale(1.2);
            transition: 0.5s;
        }
    }
}

main{

    .section-background{
        height: 400px;
        width: 100%;
        background-image: url(jpg/Homephoto.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        .reproduccion{
            float: left;
            background-color: #141e30bc;
            padding: 20px;
            margin-top: 100px;
            margin-left: 70%;
            border-radius: 5px;
    
            h2{
                text-align: center;
                color: white;
            }
    
            h3{
                color: white;
            }
    
            a{
                height: 50px;
                margin: 10px;
                background-color: rgba(245, 245, 220, 0.838);
                border-radius: 2px;
                color: black;
                margin-left: 125px;
                padding-top: 4px;
            }
        }
        .reproduccion:hover{
            transform: scale(1.2);
            transition: 1s;
        }
    }

    #artmain{
        text-align: center;
        padding-top: 50px;
        background-color: #141E30;
        height: 500px;

        iframe{
            text-align: center;
        }

        .thefirst{
            color: white;

        }

        .sask{
            color: white;
        }
        .colter{
            color: white;
        }
    }

    .biografia{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 500px;
        background: #141E30;
        background: -webkit-linear-gradient(to top, #243B55, #141E30);
        background: linear-gradient(to top, #243B55, #141E30);
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Poppins", sans-serif;
        overflow: hidden;

        .card {
        
            width: 100%;
            height: 100%;
            background: url(jpg/1605761666559.jpg);
            position: relative;
            overflow: hidden;
            box-shadow: 0 5px 50px rgba(0, 0, 0, 0.85);
            background-size: cover;

            .img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;

                span {
                    width: 25%;
                    height: 100%;
                    background: url(jpg/1605761666559.jpg);
                    transition: 0.7s;
                }
                    :nth-child(1) {
                        background-position: 26% 25%;
                        transition-delay: 0;
                    }

                    :nth-child(2) {
                        background-position: 50% 25%;
                        transition-delay: 0.1s;
                    }

                    :nth-child(3) {
                        background-position: 74.6% 25%;
                        transition-delay: 0.2s;
                    }

                    :nth-child(4) {
                        background-position: 100% 25%;
                        transition-delay: 0.3s;
                    } 
                }
            }
        .card:before{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            background-color: rgba(45, 42, 42, 0.586);
          }
          
        .card:hover .img > span {
            transform: translateY(-100%);
        }
        .card:hover .content {
            transform: translateY(0%);
            transition: 1s;
            transition-delay: 0.1s;
        }
          
        .content {
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            color: white;
            padding: 20px 20px;
            width: 100%;
            height: 100%;
            transform: translateY(100%);
        }
    }
}

footer{
    width: 100%;
    height: 60px;
    text-align: center;
    background-color: black;
    color: white;
}


/**Pagina musica**/

.musicbody{
    background-color: #141E30;

    .music{

        padding-left: 35%;
    
        .icon-cards {
            position: relative;
            width: 60vw;
            height: 40vw;
            max-width: 380px;
            max-height: 250px;
            margin: 0;
            color: white;
            perspective: 1000px;
            transform-origin: center;
      
            &__content {
                position: absolute;
                 width: 100%;
                height: 100%;
                transform-origin: center;
                transform-style: preserve-3d;
                transform: translateZ(-30vw) rotateY(0);
                animation: carousel 10s infinite cubic-bezier(0.77, 0, 0.175, 1) forwards;
      
                &.step-animation {
                    animation: carousel 8s infinite steps(1) forwards;
                }
            }
      
      
            &__item {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 60vw;
                height: 40vw;
                max-width: 250px;
                max-height: 246px;
                box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
                border-radius: 6px;
                transform-origin: center;
      
                &:nth-child(1) {
                    background: black;
                    transform: rotateY(0) translateZ(35vw);
                }
      
                &:nth-child(2) {
                    background: black;
                    transform: rotateY(120deg) translateZ(35vw);
                }
      
          
            }
        }
    }
      
      
    @keyframes carousel {
        0%,
        17.5% {
          transform: translateZ(-35vw) rotateY(0);
        }
        27.5%,
        45% {
          transform: translateZ(-35vw) rotateY(-120deg);
        }
    
        82.5%,
        100% {
          transform: translateZ(-35vw) rotateY(-360deg);
        }
    }
    
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background: #110f15;
        }
      
        .spanfoto1{
            height: 250px;
            width: 250px;
        }
    
        .spanfoto2{
            height: 250px;
            width: 250px;
        }
    }

    #elmainmusic{
        .contenedor1demusica{
            text-align: center;
            color: white;
            background-color: #000;
            margin-top: 10px;

            .thefirstday{
                padding-top: 4px;
            }

            .ellisten1{
                text-align: center;
                background-color: grey;
                margin: 3px;
                border-radius: 2px;
                border: solid black 1px;

            }

            .elbuy1{
                @extend.ellisten1
            }
        }

        .contenedor2demusica{
            text-align: center;
            color: white;
            background-color: rgb(0, 0, 0);
            margin-top: 10px;

            .losted{
                padding-top: 4px;
            }

            .ellisten2{
                text-align: center;
                background-color: grey;
                margin: 3px;
                border-radius: 2px;
                border: solid black 1px;
            }

            .elbuy2{
                @extend.ellisten2
            }
        }
    }

.elfoter{
    padding-top: 156px;
}

.contenedorinfo{
    background: white;
}

/**contact**/

#elmaindelcontact{
    background-color: #141E30;
    color: white;

    .titulocontact{
        margin-top: 20px;
        font-family:'Times New Roman', Times, serif;
    }
}

@media only screen and (max-width: 575px) {

    #redes{
        text-align: center;
    }

    .contenedor3{
        text-align: center;
    }

    .reproduccion{
        float: left;
        background-color: rgba(128, 128, 128, 0.718);
        padding: 20px;
        margin-top: 200px;
        margin-left: 0%;
        border-radius: 5px;
    }

    #videoa{
        padding-right: 20px;

    }

    #videob{
        padding-right: 20px;

    }

    /**sigo pagina de musica**/

    #name{
        text-align: center;
    }

    

    .contenedormusic{
        padding-top: 50px;
    }
}

@media only screen and (min-width: 575px) and (max-width: 720px) {

    /**home**/

    #redes{
        text-align: center;
    }

    #elnav{
        text-align: center;
        text-decoration: none;
    }
    .reproduccion{
        background-color: rgba(128, 128, 128, 0.718);
        border-radius: 5px;
        margin-left: 5%;
        text-align: center;
    }
}

@media only screen and (min-width: 720px) and (max-width: 991px) {

    #redes{
        text-align: center;
    }

    #elnav{
        text-align: center;
        text-decoration: none;
    }

    .reproduccion{
        background-color: rgba(128, 128, 128, 0.718);
        border-radius: 5px;
        text-align: center;
        margin-right: 20px;
    }
}