@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css2?family=Gayathri:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Angkor&display=swap");
@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");
* {
  padding: 0;
  margin: 0;
}

/**Fuentes**/
/**font-family: 'Gayathri', sans-serif;**/
body {
  font-family: "Gayathri", sans-serif;
  background-color: black;
}
body a {
  color: white;
  text-decoration: none;
}

header {
  width: 100%;
  background-color: black;
}
header .contenedor3:hover {
  transform: scale(1.025);
  transition: 0.5s;
}
header hr {
  border: 0;
  border-top: 1px solid #999;
  border-bottom: 1px solid #333;
  height: 0;
}
header #name {
  font-family: "Angkor", cursive;
  text-align: center;
  text-decoration: none;
}
header a:hover {
  color: #5685d5;
}
header #redes {
  text-align: left;
}
header #redes :hover {
  transform: scale(1.2);
  transition: 0.5s;
}

main .section-background {
  height: 400px;
  width: 100%;
  background-image: url(jpg/Homephoto.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
main .section-background .reproduccion {
  float: left;
  background-color: rgba(20, 30, 48, 0.737254902);
  padding: 20px;
  margin-top: 100px;
  margin-left: 70%;
  border-radius: 5px;
}
main .section-background .reproduccion h2 {
  text-align: center;
  color: white;
}
main .section-background .reproduccion h3 {
  color: white;
}
main .section-background .reproduccion a {
  height: 50px;
  margin: 10px;
  background-color: rgba(245, 245, 220, 0.838);
  border-radius: 2px;
  color: black;
  margin-left: 125px;
  padding-top: 4px;
}
main .section-background .reproduccion:hover {
  transform: scale(1.2);
  transition: 1s;
}
main #artmain {
  text-align: center;
  padding: 50px;
  background: url(jpg/pexels-krivec-ales-552779.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
main #artmain iframe {
  text-align: center;
}
main #artmain .thefirst {
  color: white;
}
main #artmain .sask {
  color: white;
}
main #artmain .colter {
  color: white;
}
main .biografia {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 500px;
  background: #141E30;
  background: linear-gradient(to top, #243B55, #141E30);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}
main .biografia .card {
  width: 100%;
  height: 100%;
  background: url(jpg/1605761666559.jpg);
  position: relative;
  overflow: hidden;
  box-shadow: 0 5px 50px rgba(0, 0, 0, 0.85);
  background-size: cover;
}
main .biografia .card .img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}
main .biografia .card .img span {
  width: 25%;
  height: 100%;
  background: url(jpg/1605761666559.jpg);
  transition: 0.7s;
}
main .biografia .card .img :nth-child(1) {
  background-position: 25.4% 25%;
  transition-delay: 0;
}
main .biografia .card .img :nth-child(2) {
  background-position: 50% 25%;
  transition-delay: 0.1s;
}
main .biografia .card .img :nth-child(3) {
  background-position: 74.6% 25%;
  transition-delay: 0.2s;
}
main .biografia .card .img :nth-child(4) {
  background-position: 99.1% 25%;
  transition-delay: 0.3s;
}
main .biografia .card:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(45, 42, 42, 0.586);
}
main .biografia .card:hover .img > span {
  transform: translateY(-100%);
}
main .biografia .card:hover .content {
  transform: translateY(0%);
  transition: 1s;
  transition-delay: 0.1s;
}
main .biografia .content {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  padding: 20px 20px;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
}

.contenedorinfo {
  padding: 50px;
}

footer {
  width: 100%;
  height: 60px;
  text-align: center;
  background-color: black;
  color: white;
}

/**Pagina musica**/
.musicbody {
  background-color: #141E30;
}
.musicbody [type=radio] {
  display: none;
}
.musicbody #slider {
  height: 35vw;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  padding-top: 50px;
}
.musicbody #slider label {
  margin: auto;
  width: 250px;
  height: 60%;
  border-radius: 4px;
  position: absolute;
  left: 0;
  right: 0;
  cursor: pointer;
  transition: transform 0.4s ease;
}
.musicbody #slider #slide1 {
  background-image: url(jpg/images.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.musicbody #slider #slide2 {
  background-image: url(jpg/lost2.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.musicbody #slider #slide3 {
  background-image: url(jpg/images.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.musicbody #s2:checked ~ #slide1, .musicbody #s1:checked ~ #slide3,
.musicbody #s3:checked ~ #slide2 {
  transform: translate3d(-40%, 0, -100px);
  opacity: 0.6;
  z-index: 0;
}
.musicbody #s3:checked ~ #slide1, .musicbody #s1:checked ~ #slide2,
.musicbody #s2:checked ~ #slide3 {
  transform: translate3d(40%, 0, -100px);
  opacity: 0.6;
  z-index: 0;
}
.musicbody #s1:checked ~ #slide1, .musicbody #s2:checked ~ #slide2,
.musicbody #s3:checked ~ #slide3 {
  transform: translate3d(0, 0, 0);
  z-index: 1;
}
.musicbody #elmainmusic .contenedor1demusica {
  text-align: center;
  color: white;
  background-color: #000;
}
.musicbody #elmainmusic .contenedor1demusica .thefirstday {
  padding-top: 4px;
}
.musicbody #elmainmusic .contenedor1demusica .ellisten1, .musicbody #elmainmusic .contenedor1demusica .elbuy1 {
  text-align: center;
  background-color: grey;
  margin: 3px;
  border-radius: 2px;
  border: solid black 1px;
}
.musicbody #elmainmusic .contenedor2demusica {
  text-align: center;
  color: white;
  background-color: rgb(0, 0, 0);
}
.musicbody #elmainmusic .contenedor2demusica .losted {
  padding-top: 4px;
}
.musicbody #elmainmusic .contenedor2demusica .ellisten2, .musicbody #elmainmusic .contenedor2demusica .elbuy2 {
  text-align: center;
  background-color: grey;
  margin: 3px;
  border-radius: 2px;
  border: solid black 1px;
}
.musicbody .elfoter {
  padding-top: 156px;
}
.musicbody .contenedorinfo {
  background: white;
}

/**contact**/
#elmaindelcontact {
  background-color: #141E30;
  color: white;
}
#elmaindelcontact .titulocontact {
  margin-top: 20px;
  font-family: "Times New Roman", Times, serif;
}

@media only screen and (max-width: 575px) {
  #redes {
    text-align: center;
  }

  .contenedor3 {
    text-align: center;
  }

  .reproduccion {
    float: left;
    background-color: rgba(128, 128, 128, 0.718);
    padding: 20px;
    margin-top: 200px;
    margin-left: 0%;
    border-radius: 5px;
  }

  #videoa {
    padding-right: 20px;
  }

  #videob {
    padding-right: 20px;
  }

  /**sigo pagina de musica**/
  #name {
    text-align: center;
  }

  .contenedormusic {
    padding-top: 50px;
  }
}
@media only screen and (min-width: 575px) and (max-width: 720px) {
  /**home**/
  #redes {
    text-align: center;
  }

  #elnav {
    text-align: center;
    text-decoration: none;
  }

  .reproduccion {
    background-color: rgba(128, 128, 128, 0.718);
    border-radius: 5px;
    margin-left: 5%;
    text-align: center;
  }
}
@media only screen and (min-width: 720px) and (max-width: 991px) {
  #redes {
    text-align: center;
  }

  #elnav {
    text-align: center;
    text-decoration: none;
  }

  .reproduccion {
    background-color: rgba(128, 128, 128, 0.718);
    border-radius: 5px;
    text-align: center;
    margin-right: 20px;
  }
}/*# sourceMappingURL=stylesheet.css.map */