*{
    padding: 0;
    margin: 0;
}

header{
    width: 100%;
    background-color: black;
    color: white;
}
hr{
    border: 0; 
    border-top: 1px solid #999; 
    border-bottom: 1px solid #333; 
    height:0;
}

#name{
    text-align: center;
    color: white;
    text-decoration: none;
}

a{
    text-decoration: none;
}

#redes{
    text-align: left;
}

.section-background{
    height: 800px;
    width: 100%;
    background-image: url(jpg/Homephoto.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}

.reproduccion{
    padding-bottom: 350px;
}

#artmain{
    text-align: center;
    padding-top: 50px;
    background-color: rgb(220, 170, 105);
    height: 500px;
}

iframe{
    text-align: center;
}
