@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css2?family=Gayathri:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Angkor&display=swap");
@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");
* {
  padding: 0;
  margin: 0;
}

/**Fuentes**/
/**font-family: 'Gayathri', sans-serif;**/
body {
  font-family: "Gayathri", sans-serif;
}
body a {
  color: white;
  text-decoration: none;
}

header {
  width: 100%;
  background-color: black;
}
header hr {
  border: 0;
  border-top: 1px solid #999;
  border-bottom: 1px solid #333;
  height: 0;
}
header #name {
  font-family: "Angkor", cursive;
  text-align: center;
  text-decoration: none;
}
header a:hover {
  color: rgb(239, 239, 90);
}
header #redes {
  text-align: left;
}

main .section-background {
  height: 400px;
  width: 100%;
  background-image: url(jpg/images.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
main .section-background .reproduccion {
  float: left;
  background-color: rgba(128, 128, 128, 0.718);
  padding: 20px;
  margin-top: 100px;
  margin-left: 70%;
  border-radius: 5px;
}
main .section-background .reproduccion h2 {
  text-align: center;
  color: white;
}
main .section-background .reproduccion h3 {
  color: white;
}
main .section-background .reproduccion a {
  height: 50px;
  margin: 10px;
  background-color: rgba(245, 245, 220, 0.838);
  border-radius: 2px;
}
main #artmain {
  text-align: center;
  padding-top: 50px;
  background-color: rgb(220, 170, 105);
  height: 500px;
}
main #artmain iframe {
  text-align: center;
}
main .biografia {
  background-color: rgba(128, 128, 128, 0.536);
  padding: 20px;
}
main .biografia .about {
  text-align: center;
  padding-top: 25px;
}
main .biografia .biotexto {
  text-align: center;
}

.biografia {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 500px;
  background: #141E30;
  background: linear-gradient(to top, #243B55, #141E30);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}
.biografia .card {
  width: 100%;
  height: 100%;
  background: url(jpg/1605761666559.jpg);
  position: relative;
  overflow: hidden;
  box-shadow: 0 5px 50px rgba(0, 0, 0, 0.85);
  background-size: cover;
}
.biografia .card:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(45, 42, 42, 0.586);
  background-size: cover;
}
.biografia .card .img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}
.biografia .card .img span {
  width: 25%;
  height: 100%;
  background: url(jpg/1605761666559.jpg);
  transition: 0.7s;
}
.biografia .card .img span:nth-child(1) {
  background-position: 26%;
  transition-delay: 0;
}
.biografia .card .img span:nth-child(2) {
  background-position: 50%;
  transition-delay: 0.1s;
}
.biografia .card .img span:nth-child(3) {
  background-position: 73.8%;
  transition-delay: 0.2s;
}
.biografia .card .img span:nth-child(4) {
  background-position: 100%;
  transition-delay: 0.3s;
}
.biografia .card:hover .img > span {
  transform: translateY(-100%);
}
.biografia .card:hover .content {
  transform: translateY(0%);
  transition: 1s;
  transition-delay: 0.1s;
}
.biografia .content {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  padding: 20px 20px;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
}

.contenedorinfo {
  text-align: left;
  padding: 40px;
}

footer {
  width: 100%;
  height: 60px;
  text-align: center;
  background-color: black;
  color: white;
}

/**Pagina musica**/
.contenedorinfo {
  background: white;
}

@media only screen and (max-width: 575px) {
  #redes {
    text-align: center;
  }

  .contenedor3 {
    text-align: center;
  }

  .reproduccion {
    float: left;
    background-color: rgba(128, 128, 128, 0.718);
    padding: 20px;
    margin-top: 200px;
    margin-left: 1%;
    border-radius: 5px;
  }

  #videoa {
    padding-right: 20px;
  }

  #videob {
    padding-right: 20px;
  }

  /**sigo pagina de musica**/
  #name {
    text-align: center;
  }

  #imgcover {
    margin-left: 0%;
    margin-top: 2%;
  }

  .contenedormusic {
    padding-top: 50px;
  }

  #fototfdos {
    margin-left: 0;
  }

  .section1 {
    margin-left: 35%;
    padding-top: 20px;
    margin-bottom: 15px;
  }
}
@media only screen and (min-width: 575px) and (max-width: 720px) {
  /**home**/
  #redes {
    text-align: center;
  }

  #elnav {
    text-align: center;
    text-decoration: none;
  }

  .reproduccion {
    background-color: rgba(128, 128, 128, 0.718);
    border-radius: 5px;
    text-align: center;
  }

  /**Musica**/
  #imgcover {
    margin-left: 22%;
    margin-top: 2%;
  }

  .contenedormusic {
    padding-top: 50px;
  }
}
@media only screen and (min-width: 720px) and (max-width: 991px) {
  #redes {
    text-align: center;
  }

  #elnav {
    text-align: center;
    text-decoration: none;
  }

  .reproduccion {
    background-color: rgba(128, 128, 128, 0.718);
    border-radius: 5px;
    text-align: center;
    margin-right: 20px;
  }

  #imgcover {
    margin-left: 22%;
    margin-top: 2%;
  }

  .contenedormusic {
    padding-top: 50px;
  }

  #fototfdos {
    margin-right: 50px;
  }
}/*# sourceMappingURL=stylesheet.css.map */